    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Roboto Slab', serif;
        background-image: linear-gradient(90deg, #bb00ff7a, #0092ffc2, #00ffbc);
    }
    
    header h1 {
        text-align: center;
        color: white;
        background-color: aqua;
        padding: 0.5em;
        border-bottom: 2px solid rgb(51, 180, 240);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1em 4em;
    }
    
    input {
        margin-bottom: 20px;
        margin-right: 6px;
        font-size: 1.2em;
    }
    
    .input {
        display: flex;
    }
    
    .form_section {
        margin-top: 2.2em;
    }
    
    .margin_input {
        padding-left: 2em;
    }
    
    .v_line {
        /* height: 350px; */
        width: 2px;
        background-color: aqua;
        margin: 0 2em;
    }
    
    label {
        font-size: 1.6rem;
    }
    
    #name,
    #email,
    #website,
    #image_link {
        border-radius: 20px;
        width: 320px;
        height: 42px;
        border: none;
        padding: 15px;
        outline: none;
    }
    
     ::placeholder {
        font-style: italic;
        /* font-size: 1.4em; */
        padding: 5px;
    }
    
    input:focus {
        border: 3px solid black;
    }
    
    input[type="radio"],
    input[type="checkbox"] {
        width: 20px;
        height: 18px;
    }
    
    .check_skill {
        margin-right: 16px;
    }
    
    input[type="submit"] {
        all: unset;
        background-color: red;
        margin-right: 1em;
        padding: 12px 20px;
        margin-top: 1em;
        border-radius: 15px;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
    }
    
    input[type="button"] {
        all: unset;
        background-color: rgb(70, 142, 235);
        padding: 10px 28px;
        margin-top: 1em;
        border-radius: 15px;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        outline: 2px solid #0073a6;
    }
    
    .display_section table,
    .display_section tr,
    .display_section td,
    .display_section th {
        border: 1px solid rgba(158, 34, 247, 0.34);
        border-collapse: collapse;
        padding: 6px;
    }
    
    .display_section {
        width: 550px;
    }
    
    thead {
        color: white;
        background-color: rgba(158, 34, 247, 0.34);
        font-weight: 500;
        font-size: 1.4rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    tr.\.row-details {
        background-image: linear-gradient(-140deg, #f0d3fa, #b7dffd, #bef6e7);
        font-family: cursive;
        font-size: 1.2em;
    }
    
    h2 {
        text-align: center;
        margin-bottom: .6em;
    }
    
    .padding_details {
        padding-left: 1.4em !important;
    }
    
    p {
        line-height: 1.2em;
    }
    
    .img-col {
        display: flex;
        justify-content: center;
        height: 150px;
        align-items: center;
    }
    
    td.\.img-col {
        display: flex;
        justify-content: center;
        height: 150px;
        align-items: center;
    }
    
    td.\.img-col img {
        width: 115px;
        height: 130px;
    }
    /* @media (max-width:110px) {} */
    
    @media (max-width:1100px) {
        .container {
            align-items: center;
            flex-direction: column;
        }
        .v_line {
            width: 750px;
            height: 2px;
            margin: 2em 0;
            background-color: #000396;
            outline: 2px solid #328aee;
            box-shadow: 0px -4px 4px #6a09a6, 1px 2px 0 #88f1f9;
        }
        .display_section {
            /* margin-top: 1em; */
        }
    }
    
    @media(max-width:800px) {
        .v_line {
            width: 550px;
        }
    }
    
    @media(max-width:600px) {
        .input_row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .margin_input {
            padding: 0;
        }
        input {
            margin-bottom: 2em;
            margin-right: 8px;
            margin-top: .3em;
            font-size: 1.1em;
        }
        #gender {
            display: flex;
        }
        #gender label {
            margin-right: 1.2em;
        }
        input[type="submit"] {
            padding: 10px 10px;
        }
        input[type="button"] {
            padding: 9px 21px;
        }
        .v_line {
            width: 380px;
        }
        .display_section {
            width: 380px;
            overflow-x: scroll;
        }
        #delete {
            margin-left: 5px;
            margin-bottom: 10px;
        }
        thead {
            font-size: 1rem;
        }
        tr.\.row-details {
            font-size: 1em;
        }
    }
    
    @media(max-width:425px) {
        .v_line {
            width: 300px;
        }
        #name,
        #email,
        #website,
        #image_link {
            border-radius: 17px;
            width: 250px;
            height: 40px;
            padding: 10px;
        }
        input[type="submit"] {
            padding: 10px 10px;
            font-size: 1.1rem;
        }
        label {
            font-size: 1.2em;
        }
        input[type="button"] {
            padding: 9px 18px;
            margin-top: 0em;
            font-size: 1.1rem;
        }
        #delete {
            margin-top: 1em;
            font-size: 1rem;
            padding: 8px 18px;
        }
        .display_section {
            width: 300px;
        }
        thead {
            font-size: 1rem;
        }
        tr.\.row-details {
            font-size: .8em;
        }
        td.\.img-col {
            height: 100px;
        }
        .img-col {
            height: 100px;
        }
        td.\.img-col img {
            width: 75px;
            height: 90px;
        }
        .img-col img {
            width: 75px;
            height: 90px;
        }
        .check_skill {
            margin-right: 5px;
        }
        #CSS {
            margin-left: 0;
        }
    }
    
    @media(max-width:340px) {
        header h1 {
            font-size: 1.6em;
            padding: 0.2em;
        }
        .v_line {
            width: 250px;
        }
        .display_section {
            width: 250px;
        }
        td.\.img-col img {
            width: 60px;
            height: 75px;
        }
        .img-col img {
            width: 60px;
            height: 75px;
        }
        tr.\.row-details {
            font-size: .6em;
        }
        #desc_head {
            padding-left: 0.5em;
        }
        #name,
        #email,
        #website,
        #image_link {
            width: 240px;
            height: 36px;
            font-size: 1em;
        }
    }